{% extends 'layout.html' %}
{% block head %}
    <title>2NET - Pagomovil</title>

{% endblock %}


<body>
{% block body %}
    {% include '_nav-bar.html' %}
    {% include '_modal_spinner.html' %}


    <div class="container-fluid bg-secondary-subtle min-vh-100">
        <form method="POST">
            {{ form.hidden_tag() }}

            <!-- FILA 1 -->
            <div class="row">
                <div class="col-1">
                </div>

                <div class="col-10">
                    <div class="row mt-3">
                        <div class="col-lg-10 card">
                            <h3 class="mt-3 text-center">Seleccione el banco de su preferencia</h3>
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <div class="row d-flex justify-content-center align-items-center">
                                {% if pm_banesco[3]=="enable" %}
                                    <div class="card p-0 m-1" style="max-width: 300px;">
                                        <div class="row g-0">
                                            <div class="col-4 d-flex justify-content-center align-items-center">
                                                <img class="img-fluid rounded-start" alt="Logo_bancoplaza"
                                                     src="{{ url_for('pagomovil.static', filename='img/Logo_banesco_card.jpg' ) }}">
                                            </div>
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"><b>{{ pm_banesco[1] }}</b></h5>
                                                    <p class="card-text">
                                                        <b>TELEFONO:</b> {{ pm_banesco[0] }}<br>
                                                        <b>RIF:</b> {{ pm_banesco[2] }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-center align-items-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                       name="flexRadioDefault"
                                                       id="flexRadioDefault2">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Seleccionar
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if pm_bancoplaza[3]=="enable" %}
                                    <div class="card p-0 m-1" style="max-width: 300px;">
                                        <div class="row g-0">
                                            <div class="col-4 d-flex justify-content-center align-items-center">
                                                <img class="img-fluid rounded-start" alt="Logo_bancoplaza"
                                                     src="{{ url_for('pagomovil.static', filename='img/logo_bancoplaza.png' ) }}">
                                            </div>
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"><b>{{ pm_bancoplaza[1] }}</b></h5>
                                                    <p class="card-text"><b>TELEFONO:</b> {{ pm_bancoplaza[0] }}<br>
                                                        <b>RIF:</b> {{ pm_bancoplaza[2] }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-center align-items-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                       name="flexRadioDefault"
                                                       id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Seleccionar
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 card bg-secondary bg-opacity-10">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <h4 class="text-decoration-underline">Monto a cancelar</h4>
                                <i class="bi bi-exclamation-octagon text-danger"></i>
                                <h6 class="text-wrap">El monto debe ser exacto</h6>
                                <h3><b> Bs. </b></h3>
                                <h3><b> {{ montobs }} </b></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1">
            </div>
    </div>

    <!-- FILA 2 -->
    <div class="row">
        <div class="col-1">
        </div>

        <div class="col-10 mt-2 card">
            <div class="row">

                <h3 class="mt-3">Información del pago realizado:</h3>
                <div class="col-lg-6">
                    <!-- CI PAGADOR -->
                    <div>
                        <label><b>{{ form.tipo_id.label }}</b></label>
                        <div class="d-flex">
                            {{ form.tipo_id(class="form-select") }}
                            {{ form.payerID(class="form-control", autofocus=true) }}
                        </div>
                        {% for error in form.payerID.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <!-- BANCO EMISOR -->
                    <div class="mt-3 mb-3">
                        <b>{{ form.entity.label }}</b>
                        {{ form.entity(class="form-select") }}
                        {% for error in form.entity.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- TELEFONO PAGADOR -->
                    <div>
                        <label><b>{{ form.tipo_phone.label }}</b></label>
                        <div class="d-flex">
                            {{ form.tipo_phone(class="form-select", style="width: 90px;") }}
                            {{ form.payerPhone(class="form-control ms-2") }}
                        </div>
                        {% for error in form.payerPhone.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <!-- REFERENCIA -->
                    <div class="mt-3 mb-3">
                        <label><b>{{ form.order.label }}</b></label>
                        <div>
                            {{ form.order(class="form-control") }}
                        </div>
                        {% for error in form.order.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <!-- REGRESAR -->
                    <div class="col-6 justify-content-center d-flex text-center mt-5">
                        <button type="button"
                                class="btn btn-outline-danger justify-content-center d-flex align-items-center text-center"
                                style="width: 170px; height: 50px;"
                                onclick="window.location.href='{{ url_for('pagos.pagos') }}'">
                            <span class="fs-2 me-2"><i class="bi bi-arrow-return-left"></i></span>
                            Regresar
                        </button>
                    </div>

                    <!-- ENVIAR PAGO -->
                    <div class="col-6 justify-content-center d-flex text-center mt-5 mb-4">
                        <button type="submit"
                                class="btn btn-outline-primary justify-content-center d-flex align-items-center text-center"
                                style="width: 170px; height: 50px;">
                            <span class="fs-2 me-2"><i class="bi bi-check-circle"></i></span>
                            Enviar pago
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-1">
        </div>
    </div>
    </form>
    </div>


    <script src="{{ url_for('static', filename='js/spinner_modal.js') }}"></script>
{% endblock %}


</body>