{% extends 'layout.html' %}
{% block head %}
    <title>2NET - Pagomovil</title>

{% endblock %}


<body>
{% block body %}
    {% include '_nav-bar.html' %}
    {% include '_modal_spinner.html' %}


    <div class="container-fluid bg-secondary-subtle min-vh-100">
        <form method="POST">
            {{ form.hidden_tag() }}

            <!-- FILA 1 -->
            <div class="row">
                <div class="col-1">
                </div>

                <div class="col-10">
                    <div class="row mt-3">
                        <div class="col-lg-10 card">
                            <h3 class="mt-2 text-center">Seleccione el banco de su preferencia</h3>
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <div class="row d-flex justify-content-center align-items-center">
                                    {% if pm_banesco[3]=="enable" %}
                                        <div class="card p-0 m-1" style="max-width: 350px;">
                                            <div class="row g-0">
                                                <div class="col-4 d-flex justify-content-center align-items-center">
                                                    <img class="img-fluid rounded-start" alt="Logo_bancoplaza"
                                                         src="{{ url_for('pagomovil.static', filename='img/Logo_banesco_card.jpg' ) }}">
                                                </div>
                                                <div class="col-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title"><b>{{ pm_banesco[1] }}</b></h5>
                                                        <p class="card-text">
                                                            <b>TELEFONO:</b> {{ pm_banesco[0] }}<br>
                                                            <b>RIF:</b> {{ pm_banesco[2] }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer d-flex justify-content-center align-items-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                           name="flexRadioDefault"
                                                           id="flexRadioDefault2" checked>
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        Seleccionar
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if pm_bancoplaza[3]=="enable" %}
                                        <div class="card p-0 m-1" style="max-width: 350px;">
                                            <div class="row g-0">
                                                <div class="col-4 d-flex justify-content-center align-items-center">
                                                    <img class="img-fluid rounded-start" alt="Logo_bancoplaza"
                                                         src="{{ url_for('pagomovil.static', filename='img/logo_bancoplaza.png' ) }}">
                                                </div>
                                                <div class="col-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title"><b>{{ pm_bancoplaza[1] }}</b></h5>
                                                        <p class="card-text"><b>TELEFONO:</b> {{ pm_bancoplaza[0] }}<br>
                                                            <b>RIF:</b> {{ pm_bancoplaza[2] }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer d-flex justify-content-center align-items-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                           name="flexRadioDefault"
                                                           id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        Seleccionar
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 card bg-secondary bg-opacity-10">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <div class="text-center">
                                    <h4 class="text-decoration-underline">Monto a cancelar</h4>
                                    <i class="bi bi-exclamation-octagon text-danger"></i>
                                    <h6 class="text-wrap">El monto debe ser exacto</h6>
                                    <h3><b> Bs. </b></h3>
                                    <h3><b> {{ montobs }} </b></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1">
                </div>
            </div>

            <!-- FILA 2 -->
            <div class="row" id="bancoplaza" style="display: none;">
                {% include '_fila_bancoplaza.html' %}
            </div>

            <div class="row" id="banesco" style="display: none;">
                {% include '_fila_banesco.html' %}
            </div>
        </form>
    </div>


    <script src="{{ url_for('static', filename='js/spinner_modal.js') }}"></script>
    <script>
        const radio1 = document.getElementById('flexRadioDefault1');
        const radio2 = document.getElementById('flexRadioDefault2');
        const filaBancoplaza = document.getElementById('bancoplaza');
        const filaBanesco = document.getElementById('banesco');

        radio1.addEventListener('change', function () {
            if (this.checked) {
                filaBancoplaza.style.display = 'block';
                filaBanesco.style.display = 'none';
            }
        });

        radio2.addEventListener('change', function () {
            if (this.checked) {
                filaBancoplaza.style.display = 'none';
                filaBanesco.style.display = 'block';
            }
        });
    </script>

{% endblock %}


</body>