<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog"
     aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static"
     data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: transparent; border: none;">
            <div class="modal-body text-center">
                <div class="spinner-container">
                    <div class="spinner-border text-white" role="status"></div>
                    <br>
                    <span class="text-white mt-3">Cargando...</span>
                </div>
            </div>
        </div>
    </div>
</div>