<nav class="navbar navbar-expand-lg bg-2net d-flex justify-content-center align-items-center">
    <div class="container-fluid text-uppercase text-white text-center">
        <a class="navbar-brand" href="https://admin.2netvzla.com/cliente/login">
            <img src="{{ url_for('static', filename='img/logo-2net.png' ) }}" alt="Bootstrap" width="55" height="55">
        </a>
        <span class="navbar-text text-white">
                <b>Bienvenido(a): {{ datos_cliente["nombre"] }}</b><br>
                <b>ID: {{ datos_cliente["cedula"] }}</b>
        </span>
        <div class="navbar-text text-white">
            <a class="text-white" href={{ url_for('home.logout') }}>Salir
                <i class="bi bi-box-arrow-right text-white ms-1" style="font-size: 2rem;"></i>
            </a>
        </div>
    </div>
</nav>