<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--Descripcion de la empresa -->
    <meta name="description" content="Boton de pago de 2NET">
     <!--Autor de la pagina-->
    <meta name="author" content="Jhon Monrroy jrmr100@gmail.com">
    <!--Icono de la pestaña-->
    <link rel="icon" type="image/x-icon" href={{url_for('static', filename='img/logo_favicon96x96.png')}}>
    <link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.min.css')}}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}

    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

</body>
</html>