{% extends 'layout.html' %}
{% block head %}
    <title>2NET - Pagos </title>
    <style>
        .message h2 {
            color: #343a40; /* Color de texto oscuro */
            margin-bottom: 20px;
        }

        .zelle-info {
            background-color: #f0f0f0; /* Fondo grisáceo para la información de Zelle */
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .zelle-info p {
            margin-bottom: 10px;
        }

        .btn-primary {
            background-color: #007bff; /* Azul para el botón */
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

    </style>
{% endblock %}

<body>
{% block body %}
    {% include '_nav-bar.html' %}
    {% include '_modal_zelle.html' %}

    <div class="container-fluid bg-secondary-subtle min-vh-100">
        <div class="row">
            <div class="col-1">
            </div>

            <div class="col-10">
                <div class="row mt-4">
                    <div class="col-md-6 text-center">
                        <h3 class="mt-4">INFORMACIÓN DE LA CUENTA</h3>
                        <div class="card-group text-center">
                            <div class="card border-primary" style="overflow: hidden; height: 120px;">
                                <div class="card-header"><b>ID de la cuenta</b></div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ datos_cliente["id"] }}</h5>
                                </div>
                            </div>
                            <div class="card border-primary" style="overflow: hidden; height: 120px;">
                                <div class="card-header"><b>Estado</b></div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ datos_cliente["estado"] }}</h5>
                                </div>
                            </div>
                            <div class="card border-primary" style="overflow: hidden; height: 120px;">
                                <div class="card-header"><b>Plan contratado</b></div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ datos_cliente["PlanContratado"] }}</h5>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 text-center">
                        <h3 class="mt-4">INFORMACIÓN DEL PAGO</h3>
                        <div class="card-group text-center">
                            <div class="card border-primary" style="overflow: hidden; height: 120px;">
                                <div class="card-header"><b>Facturas no pagadas</b></div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ datos_cliente["facturas_nopagadas"] }}</h5>
                                </div>
                            </div>
                            <div class="card border-primary" style="overflow: hidden; height: 120px;">
                                <div class="card-header"><b>Deuda en dólares ($)</b></div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {% if monto_dls > 0 %}
                                            <span class="badge text-bg-danger">{{ monto_dls }}</span>
                                        {% else %}
                                            <span class="badge text-bg-success">{{ monto_dls }}</span>
                                        {% endif %}
                                    </h5>
                                </div>
                            </div>
                            <div class="card border-primary" style="overflow: hidden; height: 120px;">
                                <div class="card-header"><b>Deuda en Bolívares (Bs.)</b></div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {% if monto_bs > 0 %}
                                            <span class="badge text-bg-danger">{{ monto_bs }}</span>
                                        {% else %}
                                            <span class="badge text-bg-success">{{ monto_bs }}</span>
                                        {% endif %}
                                    </h5>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="col-1">

                </div>
            </div>

            <div class="col-1">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-1">
            </div>

            <div class="col-10">
                <div class="text-center">
                    <h3>MÉTODOS DE PAGO</h3>
                    <h6>Seleccione la opción con la que desea pagar</h6>
                    {% include('_mensajes.html') %}
                </div>
                {% if card_disable == True %}
                    <div class="card border-secondary">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row p-4">
                            <div class="col-sm-6 d-flex justify-content-center align-items-center flex-column p-2">
                                <img src="{{ url_for('static', filename='img/pagomovil.png') }}"
                                     alt="Pagomovil" style="width: 80px; height: 80px; filter: grayscale(100%) opacity(0.5);"><br>
                                    {{ form.submit1(class="btn btn-outline-secondary disabled", style="width: 150px; height: 50px;") }}
                            </div>

                            <div class="col-sm-6 d-flex justify-content-center align-items-center flex-column p-2">
                                <img src="{{ url_for('static', filename='img/zelle.png') }}" alt="Zelle"
                                     style="width: 80px; height: 80px; filter: grayscale(100%) opacity(0.5);"><br>
                                <button type="button" class="btn btn-outline-secondary disabled" data-bs-toggle="modal"
                                        data-bs-target="#modal_zelle" style="width: 150px; height: 50px;">ZELLE
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                {% else %}
                    <div class="card border-primary">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row p-4">
                            <div class="col-sm-6 d-flex justify-content-center align-items-center flex-column p-2">

                                <img src="{{ url_for('static', filename='img/pagomovil.png') }}"
                                     alt="Pagomovil" style="width: 80px; height: 80px;"><br>
                                    {{ form.submit1(class="btn btn-outline-primary", style="width: 150px; height: 50px;") }}
                            </div>

                            <div class="col-sm-6 d-flex justify-content-center align-items-center flex-column p-2">
                                <img src="{{ url_for('static', filename='img/zelle.png') }}" alt="Zelle"
                                     style="width: 80px; height: 80px;"><br>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#modal_zelle" style="width: 150px; height: 50px;">ZELLE
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}

            </div>

            <div class="col-1">
            </div>
        </div>
    </div>

{% endblock %}
</body>