{% extends 'layout.html' %}
{% block head %}
<title>2NET - Pagos </title>


{% endblock %}


<body>
{% block body %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
        </div>
    </nav>

    <div class="container-fluid bg-secondary-subtle p-0 min-vh-100">
        <div class="row">
            <h4 class="text-center">Información de su cuenta</h4>

            <div class="col-2">
            </div>

            <div class="col-8">
                <div class="card">
                    <div class="card-body">

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Numero de cuenta</th>
                                <th scope="col">Nombre del cliente</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-2">

            </div>

        </div>
    </div>

{% endblock %}
</body>