<div class="card border-primary">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row p-4">
            <div class="col-sm-3 d-flex justify-content-center align-items-center flex-column p-2">
                <img src="{{ url_for('static', filename='img/pagomovil.png') }}"
                     alt="Pagomovil" style="width: 80px; height: 80px;"><br>
                {{ form.submit_pagomovil(class="btn btn-outline-primary", style="width: 150px; height: 50px;") }}
            </div>

            <div class="col-sm-3 d-flex justify-content-center align-items-center flex-column p-2">
                <img src="{{ url_for('static', filename='img/credit_card.png') }}"
                     alt="Tarjeta_credito" style="width: 80px; height: 80px;"><br>
                {{ form.submit_tarjeta_credito(class="btn btn-outline-primary", style="width: 180px; height: 50px;") }}
            </div>

            <div class="col-sm-3 d-flex justify-content-center align-items-center flex-column p-2">
                <img src="{{ url_for('static', filename='img/credit_card.png') }}"
                     alt="Tarjeta_credito" style="width: 80px; height: 80px;"><br>
                {{ form.submit_transferencia(class="btn btn-outline-primary", style="width: 180px; height: 50px;") }}
            </div>

            <div class="col-sm-3 d-flex justify-content-center align-items-center flex-column p-2">
                <img src="{{ url_for('static', filename='img/zelle.png') }}" alt="Zelle"
                     style="width: 80px; height: 80px;"><br>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#modal_zelle" style="width: 150px; height: 50px;">ZELLE
                </button>
            </div>
        </div>
    </form>
</div>