{% extends 'layout.html' %}
{% block head %}
<title>2NET - Pagos </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% endblock %}


<body>
{% block body %}
    {% include '_nav-bar.html' %}

    <div class="container-fluid bg-secondary-subtle p-0 min-vh-100">
        <div class="row">
            <h3 class="text-center">PORTAL DE PAGO</h3>

            <div class="col-2">
            </div>

            <div class="col-8">
                <div class="card">
                    <div class="card-body">

                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th scope="col">Número de cuenta</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Plan contratado</th>
                                <th scope="col">Facturas no pagadas</th>
                                <th scope="col">Monto de la deuda ($)</th>
                                <th scope="col">Monto de la deuda (Bs)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ datos_cliente["datos"][0]["id"] }}</td>
                                <td>{{ datos_cliente["datos"][0]["estado"] }}</td>
                                <td>{{ datos_cliente["datos"][0]["PlanContratado"] }}</td>
                                <td>{{ datos_cliente["datos"][0]["facturacion"]["facturas_nopagadas"] }}</td>
                                <td class="text-danger">{{ datos_cliente["datos"][0]["facturacion"]["total_facturas"] }}</td>
                                <td class="text-danger">{{ monto_bs }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-2">

            </div>
        </div>
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>

{% endblock %}
</body>