<div class="card border-secondary">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row p-4">
            <div class="col-sm-6 d-flex justify-content-center align-items-center flex-column p-2">
                <img src="{{ url_for('static', filename='img/pagomovil.png') }}"
                     alt="Pagomovil"
                     style="width: 80px; height: 80px; filter: grayscale(100%) opacity(0.5);"><br>
                {{ form.submit1(class="btn btn-outline-secondary disabled", style="width: 150px; height: 50px;") }}
            </div>

            <div class="col-sm-6 d-flex justify-content-center align-items-center flex-column p-2">
                <img src="{{ url_for('static', filename='img/zelle.png') }}" alt="Zelle"
                     style="width: 80px; height: 80px; filter: grayscale(100%) opacity(0.5);"><br>
                <button type="button" class="btn btn-outline-secondary disabled"
                        data-bs-toggle="modal"
                        data-bs-target="#modal_zelle" style="width: 150px; height: 50px;">ZELLE
                </button>
            </div>
        </div>
    </form>
</div>